:root {
    --main-color: #343A40;
    --body-color: white;
    --decoration-color: #138496;
}

/* Css general */

html, body {
    margin:0;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    font-family: 'Roboto Mono', monospace;
}

header {
    height: 74px;
    background-color: var(--main-color);
}

main {
    margin-right: 20%;
    margin-left: 20%;
}

.titulo {
    text-align: center;
}

h1 {
    margin: 0;
}

/* Contenido de la tabla */

table {
    margin-top: 10px;
    border-collapse: collapse;
    width:100%;
    text-align: left;
}

th, td {
    border-top: 1px solid #caccce;
    border-bottom: 1px solid #caccce;
    padding: 15px;
}

.btncontainer {
    padding: 0;
}

.finalinfo {
    font-weight: bold;
}

.finalinfo button {
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 15px;
    background-color: var(--decoration-color)
}